@font-face {
    font-family: 'KulminoituvaRegular';
    src: url('./Long_Shot.ttf');
}

*{
    font-size: 18px;
    font-family: Roboto;
}

body{
    max-width:650px;
    margin:40px auto;
    padding:0 10px;
    color:white;
    background:#265957;
  }
html {
overflow-y:scroll;
}

a:link{
color:#5bf
}
a:visited{
color:#ccf
}

h1{
    text-align:center;
    font-size: 40px;
}
h3{
    font-size: 30px;
}

h1,h2,h3{
line-height:1.2
}
  

